    .form-section[b-nwuvwr4ur2] {
        margin-bottom: 30px;
    }

    .form-group label[b-nwuvwr4ur2] {
        font-weight: bold;
    }

    .form-control[b-nwuvwr4ur2], .form-check-input[b-nwuvwr4ur2], .form-check-label[b-nwuvwr4ur2] {
        font-size: 1.1em;
    }

    .form-check-label[b-nwuvwr4ur2] {
        margin-left: 5px;
    }

    .btn-primary[b-nwuvwr4ur2] {
        font-size: 1.2em;
        padding: 10px 20px;
    }

